// ? imports

@use "sass:list";
@use "sass:math";



// * button 
@mixin button (
   $bg: transparent,
   $color: var(--text),
   $borderRadius: 50%,
   $shadow: none,
   $fSize: 27px,
   $lineHeight: 27px
) {
   width: 72px;
   height: 72px;
   background: $bg;
   border: 1px solid transparent;
   border-radius: $borderRadius;
   box-shadow: $shadow;
   font-size: $fSize;
   font-weight: 500;
   line-height: $lineHeight;
   color: $color;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   user-select: none;
   transition: all 0.2s ease-out;
}

%eventsButtons {
   &:hover { border-color: var(--border_color); }
   &:active, &:focus { box-shadow: var(--active_shadow); border-color: transparent; }
}

.btn {
   @include button;
   @extend %eventsButtons;
}

.btn_dedicated {
   @include button (
      $fSize: 28px,
      $lineHeight: 28px
   );
   @extend %eventsButtons
}

.btn_signs {
   @include button (
      $bg: var(--signs),
      $color: var(--action),
      $shadow: var(--btn_shadow)
   );
   &:hover { box-shadow: none; background: transparent; }
   &:active, &:focus { box-shadow: var(--active_shadow); }
}

.btn_action  {
   @include button (
      $bg: var(--action),
      $color: var(--action_color),
      $shadow: var(--calc_shadow),
      $borderRadius: 50px
   );
   &.btn_equal {
      flex: 0 0 46%;
      max-width: 46%;
   }
   &:hover { box-shadow: var(--active_action_shadow);}
   &:active, &:focus { box-shadow: var(--active_shadow); }
}
